* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #000000; 
  font-weight: 400;
  letter-spacing: 0.05em;
}

.center {
  width: 1056px;
  margin: 0 auto;
  padding: 70px 0;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer; 
}

.flex {
  display: flex;
  justify-content: space-between;
}

header, ul { 
  align-items: center; 
}

nav {
  width: 67%;
}

li, h1, h2, h5 {
  font-family: 'Vollkorn', serif;
}

li, h1, span, .zapis, h4 {
  font-weight: 600;
}

li {
  list-style-type: none;
  font-size: 18px;
  line-height: 25px;
}

h1 {
  font-size: 64px;
  line-height: 89px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  padding-top: 22px;
  margin-bottom: 153px;
}

.zapis {
 padding: 21.5px 43px;
  background: #C4C4C4;
  border-radius: 8px;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
}

section {
  margin-top: 100px;
}

.dog {
   margin-right: 48px;
   padding-top: 111px;
}

h2 {
  font-size: 36px;
  line-height: 50px; 
  padding-bottom: 35px;
}

p {
  font-size: 18px;
  margin: 15px 26px 62px 0px;
}

.conteiner_p, .priem {
  line-height: 36px;
}

.priem {
  font-size: 18px;
  margin: 50px 0 60px;
}

h4 {
  font-size: 14px;
  line-height: 17px;
  padding-top: 14px;
}

.card_p {
  font-size: 12px;
  line-height: 14.6px;
}

.card {
  width: 180px;
}

.box2 {
  margin: 30px 0 50px;
}

h5 {
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin: 100px 0 30px;
}

.box3 {
  width: 61.5%;
}

.box3_copyright {
  width: 247px;
}

.box3_logo {
  margin-left: -44px;
}

.box3_contacts-sotial {
  padding-top: 30px;
}

.box3_contacts-sotial img {
  margin-right: 17px;
}